<!DOCTYPE html>
<html lang="ru">
<%= htmlWebpackPlugin.options.widgets.head %>
<body class="">
<%= htmlWebpackPlugin.options.widgets.header %>
<main class="main">
    <section class="section trigger-intro section--intro">
        <video class="intro-video" autoplay loop muted playsInline poster="./assets/images/intro-bg.jpg">
            <source src="./video/intro.mp4" type="video/mp4">
        </video>
        <div class="container">
            <div class="intro">
                <div class="play-sound">
                    <div class="info-label">
                        <p class="info-label__text">Включите звук !</p>
                    </div>
                    <img class="play-sound__icon" src="./assets/images/icon-play-sound.svg" alt="">
                </div>
                <div class="grid mb-60">
                    <div class="grid__item grid__item--7">
                        <div class="head head--main">
                            <p class="pretitle pretitle--main">Как мы производим</p>
                            <h1 class="title title--main title--invert">
                                120 миллионов банок в год
                            </h1>
                        </div>
                    </div>
                    <div class="grid__item grid__item--5"></div>
                </div>
                <div class="grid">
                    <div class="grid__item grid__item--7"></div>
                    <div class="grid__item grid__item--5">
                        <p class="pretitle pretitle--medium pretitle--main mb-50">Путь от моря до банки за 8 часов</p>
                        <div class="timeline">
                            <article class="article-timeline">
                                <div class="article-timeline__info">
                                    <div class="label">00:00:00</div>
                                    <p class="article-timeline__text">Судно выходит в<br>море</p>
                                </div>
                                <picture class="article-timeline__picture">
                                    <img src="./assets/images/pic-1.png" alt="">
                                </picture>
                            </article>
                            <article class="article-timeline">
                                <div class="article-timeline__info">
                                    <div class="label">02:00:00</div>
                                    <p class="article-timeline__text">Судно возвращается<br>на завод</p>
                                </div>
                                <picture class="article-timeline__picture">
                                    <img src="./assets/images/pic-2.png" alt="">
                                </picture>
                            </article>
                            <article class="article-timeline article-timeline--light">
                                <div class="article-timeline__info">
                                    <div class="label">03:00:00</div>
                                    <p class="article-timeline__text">Рыба отправляется в<br>шпротный цех</p>
                                </div>
                                <picture class="article-timeline__picture">
                                    <img src="./assets/images/pic-3.png" alt="">
                                </picture>
                            </article>
                            <article class="article-timeline article-timeline--light">
                                <div class="article-timeline__info">
                                    <div class="label">08:00:00</div>
                                    <p class="article-timeline__text">Готовый продукт</p>
                                </div>
                                <picture class="article-timeline__picture">
                                    <img src="./assets/images/pic-4.png" alt="">
                                </picture>
                            </article>
                            <article class="article-timeline article-timeline--video">
                                <svg class="article-timeline__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                </svg>
                                <picture class="article-timeline__picture">
                                    <img src="./assets/images/pic-5.png" alt="">
                                </picture>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--union section--light pt-74">
        <div class="container">
            <div class="grid">
                <div class="grid__item grid__item--5">
                    <div class="info pt-225">
                        <div class="head">
                            <p class="pretitle">Как мы ходим в море</p>
                            <h2 class="title">
                                добыча рыбы
                            </h2>
                        </div>
                        <p class="info__text">
                            ТЕКСТ 1/ Картельные сговоры не допускают ситуации, при которой активно развивающиеся страны
                            третьего
                            мира описаны максимально подробно. Картельные сговоры не допускают ситуации, при которой
                            базовые
                            сценарии поведения пользователей, инициированные исключительно синтетически.
                        </p>
                    </div>
                </div>
                <div class="grid__item grid__item--7">
                    <svg class="map">
                        <use xlink:href="./assets/sprite.svg#map"></use>
                    </svg>
                </div>
            </div>
        </div>
    </section>
    <section class="section pt-170 pb-110">
        <div class="container">
            <div class="slider slider--visible" data-slider="thumbs">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="grid">
                                <div class="grid__item grid__item--5">
                                    <div class="info">
                                        <div class="head">
                                            <p class="pretitle">Морской флот</p>
                                            <h2 class="title">
                                                сейнер “ника”
                                            </h2>
                                        </div>
                                        <p class="info__text">
                                            Картельные сговоры не допускают ситуации, при которой активно развивающиеся
                                            страны третьего
                                            мира описаны максимально подробно. Картельные сговоры не допускают ситуации,
                                            при которой
                                            базовые сценарии поведения пользователей, инициированные исключительно
                                            синтетически.
                                        </p>
                                        <div class="info__list">
                                            <article class="article-info">
                                                <h3 class="article-info__title">1 000 000 км</h3>
                                                <p class="article-info__text">пройденного пути</p>
                                            </article>
                                            <article class="article-info">
                                                <h3 class="article-info__title">7 000 дней</h3>
                                                <p class="article-info__text">в успешном плавании</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item grid__item--7">
                                    <article class="article-ship">
                                        <h3 class="article-ship__title">
                                            сейнер<br>
                                            ника
                                        </h3>
                                        <picture class="article-ship__picture">
                                            <img src="./assets/images/ship-nika.png" alt="">
                                        </picture>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="grid">
                                <div class="grid__item grid__item--5">
                                    <div class="info">
                                        <div class="head">
                                            <p class="pretitle">Морской флот</p>
                                            <h2 class="title">
                                                Траулер “Солнце”
                                            </h2>
                                        </div>
                                        <p class="info__text">
                                            Картельные сговоры не допускают ситуации, при которой активно развивающиеся
                                            страны третьего
                                            мира описаны максимально подробно. Картельные сговоры не допускают ситуации,
                                            при которой
                                            базовые сценарии поведения пользователей, инициированные исключительно
                                            синтетически.
                                        </p>
                                        <div class="info__list">
                                            <article class="article-info">
                                                <h3 class="article-info__title">1 000 000 км</h3>
                                                <p class="article-info__text">пройденного пути</p>
                                            </article>
                                            <article class="article-info">
                                                <h3 class="article-info__title">7 000 дней</h3>
                                                <p class="article-info__text">в успешном плавании</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item grid__item--7">
                                    <article class="article-ship">
                                        <h3 class="article-ship__title">
                                            Траулер<br>
                                            Солнце
                                        </h3>
                                        <picture class="article-ship__picture">
                                            <img src="./assets/images/ship-nika.png" alt="">
                                        </picture>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="grid">
                                <div class="grid__item grid__item--5">
                                    <div class="info">
                                        <div class="head">
                                            <p class="pretitle">Морской флот</p>
                                            <h2 class="title">
                                                Траулер “Луна”
                                            </h2>
                                        </div>
                                        <p class="info__text">
                                            Картельные сговоры не допускают ситуации, при которой активно развивающиеся
                                            страны третьего
                                            мира описаны максимально подробно. Картельные сговоры не допускают ситуации,
                                            при которой
                                            базовые сценарии поведения пользователей, инициированные исключительно
                                            синтетически.
                                        </p>
                                        <div class="info__list">
                                            <article class="article-info">
                                                <h3 class="article-info__title">1 000 000 км</h3>
                                                <p class="article-info__text">пройденного пути</p>
                                            </article>
                                            <article class="article-info">
                                                <h3 class="article-info__title">7 000 дней</h3>
                                                <p class="article-info__text">в успешном плавании</p>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                                <div class="grid__item grid__item--7">
                                    <article class="article-ship">
                                        <h3 class="article-ship__title">
                                            Траулер<br>
                                            Луна
                                        </h3>
                                        <picture class="article-ship__picture">
                                            <img src="./assets/images/ship-nika.png" alt="">
                                        </picture>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider slider--thumb-auto slider--center" data-slider="thumb" data-slides="3">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <article class="article-ship-tab">
                                <picture class="article-ship-tab__picture">
                                    <img src="./assets/images/pic-tab-1.png" alt="">
                                </picture>
                                <div class="article-ship-tab__info">
                                    <p class="article-ship-tab__text">Сейнер “Ника”</p>
                                    <p class="article-ship-tab__notation">1 млн. км</p>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-ship-tab">
                                <picture class="article-ship-tab__picture">
                                    <img src="./assets/images/pic-tab-2.png" alt="">
                                </picture>
                                <div class="article-ship-tab__info">
                                    <p class="article-ship-tab__text">Траулер “Солнце”</p>
                                    <p class="article-ship-tab__notation">1 млн. км</p>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-ship-tab">
                                <picture class="article-ship-tab__picture">
                                    <img src="./assets/images/pic-tab-3.png" alt="">
                                </picture>
                                <div class="article-ship-tab__info">
                                    <p class="article-ship-tab__text">Траулер “Луна”</p>
                                    <p class="article-ship-tab__notation">1 млн. км</p>
                                </div>
                            </article>
                        </div>
                        <div class="swiper-slide">
                            <article class="article-ship-tab">
                                <picture class="article-ship-tab__picture">
                                    <img src="" alt="">
                                </picture>
                                <div class="article-ship-tab__info">
                                    <p class="article-ship-tab__text">Траулер “Луна”</p>
                                    <p class="article-ship-tab__notation">1 млн. км</p>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="swiper-control">
                        <button class="swiper-btn swiper-btn--prev">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                        <button class="swiper-btn swiper-btn--next">
                            <svg>
                                <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section--bg section--fixed-size section--sea pt-60 pb-60" style="background-image: url('./assets/images/slider-bg.png')">
        <div class="container">
            <div class="grid grid--center">
                <div class="grid__item grid__item--5">
                    <div class="info mb-100">
                        <div class="head">
                            <p class="pretitle">Какую рыбу мы используем?</p>
                            <h2 class="title title--invert">
                                балтийская Килька
                            </h2>
                        </div>
                        <p class="info__text">
                            Картельные сговоры не допускают ситуации, при которой активно развивающиеся страны третьего мира
                            описаны максимально подробно базовые сценарии.
                        </p>
                    </div>
                    <div class="feature-news">
                        <div class="feature-news__item feature-news__item--blue">
                            <div class="feature-news__rating rating">
                                <svg class="rating__icon">
                                    <use xlink:href="./assets/sprite.svg#icon-star"></use>
                                </svg>
                                5.0
                            </div>
                            <picture class="feature-news__picture">
                                <img src="./assets/images/news-pic-1.png" alt="">
                            </picture>
                            <div class="feature-news__info">
                                <h3 class="feature-news__title">
                                    Что приготовить из балтиской кильки?
                                </h3>
                                <p class="feature-news__text">32 рецепта</p>
                            </div>
                            <a href="#" class="feature-news__button button button--slim">Подробнее</a>
                        </div>
                        <div class="feature-news__item feature-news__item--red">
                            <picture class="feature-news__picture">
                                <img src="./assets/images/news-pic-2.png" alt="">
                            </picture>
                            <div class="feature-news__info">
                                <h3 class="feature-news__title">
                                    Наша продукция с данным товаром
                                </h3>
                                <p class="feature-news__text">До 10 вариантов вкуса</p>
                            </div>
                            <a href="#" class="feature-news__button button button--slim">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="grid__item grid__item--7">
                    <div class="slider slider--vertical-visible slider--fixed-size" data-slider="vertical">
                        <div class="swiper swiper-vertical">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <article class="article-fish">
                                        <div class="article-fish__board">
                                            <img src="./assets/images/board.png" alt="">
                                            <picture class="article-fish__fish">
                                                <img src="./assets/images/fish-2.png" alt="">
                                            </picture>
                                        </div>
                                    </article>
                                </div>
                                <div class="swiper-slide">
                                    <article class="article-fish">
                                        <div class="article-fish__board">
                                            <img src="./assets/images/board.png" alt="">
                                            <picture class="article-fish__fish">
                                                <img src="./assets/images/fish-1.png" alt="">
                                            </picture>
                                        </div>
                                    </article>
                                </div>
                                <div class="swiper-slide">
                                    <article class="article-fish">
                                        <div class="article-fish__board">
                                            <img src="./assets/images/board.png" alt="">
                                            <picture class="article-fish__fish">
                                                <img src="./assets/images/fish-3.png" alt="">
                                            </picture>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="swiper-control swiper-control--vertical">
                                <button class="swiper-btn swiper-btn--prev">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                                <button class="swiper-btn swiper-btn--next">
                                    <svg>
                                        <use xlink:href="./assets/sprite.svg#icon-arrow"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%= htmlWebpackPlugin.options.widgets.footer %>
</body>
</html>
