.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #FFFFFF;
  backdrop-filter: blur(7px);
  z-index: 3;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 18px 0;
  }

  &__nav {
    margin-left: auto;
  }
}
