.info {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: $gray;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &--grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-between;
    }
  }

  &__path {
    position: absolute;
    top: 105px;
    left: -15px;
    pointer-events: none;
  }
}
