.info {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &--full {
    background-color: $white;
    height: 100vh;
  }

  &__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: -0.02em;
    color: $gray;
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: fit-content;

    &--grid {
      display: grid;
      grid-template-columns: auto auto;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__path {
    position: absolute;
    top: 105px;
    left: -15px;
    pointer-events: none;
  }
}
