.section {
  &--intro {
    position: relative;
    height: 100vh;
    min-height: 1090px;
    overflow: hidden;
    z-index: 0;
  }

  &--relative {
    position: relative;
  }

  &--light {
    background-color: $white;
  }

  &--union {
    position: relative;
    //margin-top: -28px;
    z-index: 2;
  }

  &--sea {
    background-color: $blue;
  }

  &--fixed-size {
    height: 1080px;

    .container {
      height: 100%;
    }

    .grid {
      height: 100%;
    }
  }

  &--full {
    position: relative;
    height: 100vh;
    min-height: 1090px;
  }

  &--bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--ship {
    background: url("../assets/images/ship-comanda.png"), url("../assets/images/map-bg-1.png");
    background-repeat: no-repeat;
    background-position: center right -100px;
    background-size: contain, auto;
  }
}
