.action-block {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 2;

  svg {
    z-index: 1;
    pointer-events: none;
  }

  &__pic {
    filter: grayscale(100%);
    transition: .2s linear;
  }

  &__element {
    position: absolute;
    right: 0;
    bottom: 17px;
    z-index: 0;
    display: flex;

    &:hover {
      .action-block__pic {
        filter: grayscale(0%);
      }
      .action-block__text {
        opacity: 1;
      }

      &:nth-child(1) {
        & ~ svg #outline-1 {
          stroke-opacity: 1;
        }
      }

      &:nth-child(2) {
        & ~ svg #outline-2 {
          stroke-opacity: 1;
        }
      }
    }

    .action-block__info {
      top: 39px;
      left: 316px;
    }

    &--top {
      bottom: 331px;
      .action-block__info {
        top: 61px;
        left: 381px;
      }
    }
  }

  &__info {
    position: absolute;
    z-index: 3;
    pointer-events: none;
    &::before {
      content: '';
      display: flex;
      width: 48px;
      height: 48px;
      background-color: $white;
      border: 10px solid #E32125;
      border-radius: 50%;
    }
  }

  &__text {
    display: flex;
    margin-left: 48px;
    padding: 5px 8px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: $white;
    border-radius: 7px;
    opacity: 0;
    transition: .2s linear;
  }
}
