.title {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  color: $dark;

  &--main {
    font-size: 80px;
    line-height: 80px;
  }

  &--small {
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
  }

  &--invert {
    color: $white;
  }
}
